<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/818852dc0d.js"></script>
  <title>Mayank Solan Portfolio</title>
</head>

<body>
  <div class="jumbotron">
    <p class="h1">I am Mayank Solan</p>
    <p class="h6">Web Developer</p>
    <hr class="my-4">
    <a class="btn btn-dark btn-sm" href="#aboutme" role="button">About Me!</a>
    <a class="btn btn-dark btn-sm" href="#projects" role="button">View Projects</a>
  </div>
  <div id="aboutme" class="jumbotron">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <img id="logo" src="/assets/images/mayank-img-01.jpg" class="img-thumbnail" width="75%">
      </div>
      <div class="col-md-8 col-lg-8">
        <p>A Person who is passionate about development and learning new things at the same time. With an overall
          experience of 9+ years and 2 years of experience in Front end Web Development, eager to learn more and willing
          to provide my knowledge and commitment to whichever project I work on.</p>
        <p>I started my career in Datawarehousing domain and learned a lot of technologies which would help the business
          to make more informed decisions by tuning the data in such a manner so that, the data which is held by
          business as irrelevant, becomes relevant and could help them make informed decisions.</p>
        <p>As the career progressed and with ample amount of experience in Data warehousing or BI field, interest got
          generated in Front End Technologies and started working on that. Still into 2 years of working on it and ready
          to work more on this and learn more.</p>
        <p class="mainicons">
          <a class="icons" href="https://twitter.com/mayanksolan/" title="Twitter" target="_blank">
            <i class="fab fa-twitter-square"></i>
          </a>
          <a class="icons" href="https://codepen.io/mayanksolan/" title="Codepen" target="_blank">
            <i class="fab fa-codepen"></i>
          </a>
          <a class="icons" href="https://www.linkedin.com/in/mayank-solan-42628915/" title="Linkedin" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
          <a class="icons" href="https://github.com/mayanksolan" title="Github" target="_blank">
            <i class="fab fa-github-square"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
  <div id="projects" class="jumbotron">
    <p id="prohead" class="h3">PROJECTS</p>
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/assets/images/city-blog-img-02.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">City App</h5>
            <p class="card-text">The app is used to enter your favorite cities so that you can save as a collection in database</p>
            <a href="https://limitless-sands-45356.herokuapp.com/" class="btn btn-dark btn-sm" target="_blank">Go to the App</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/assets/images/color-game.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Color Game App</h5>
            <p class="card-text">The App is fun little learning plus fun app to learn rgb color coding</p>
            <a href="https://sheltered-brushlands-57379.herokuapp.com/" class="btn btn-dark btn-sm" target="_blank">Go to the App</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        .
      </div>
    </div>
  </div>
</body>

</html>